@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  box-sizing: content-box;
  margin: 0;
  font-family: "Quicksand";
}
body {
  background: rgb(63, 53, 78);
}

label {
  padding: 10px;

  color: floralwhite;
}

form {
  display: flex;
  align-items: center;
}

.gameBoard-title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;

  padding: 10px;

  color: floralwhite;
  border: 1px solid #f2f2f2;
}
