@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  box-sizing: content-box;
  margin: 0;
  font-family: "Quicksand";
  color: floralwhite;
}
body {
  background: rgb(32, 6, 73);
}

label {
  padding: 10px;

  color: floralwhite;
}

form {
  display: flex;
  align-items: center;
}

/* .game-backdrop {
  background: rgb(61, 24, 121);
  margin: auto;
} */
