.BoardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;

  margin: auto;
  width: 660px;

  color: floralwhite;
}

.board-data {
  display: flex;
  padding: 4px 10px;

  background: rgb(80, 22, 173);

  border-top: 2px solid rgb(55, 12, 126);
  border-bottom: 2px solid rgb(55, 12, 126);
  border-radius: 10px;
}
