.Cell {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-size: 18px;
  color: rgb(63, 224, 157);
  white-space: nowrap;

  background: rgb(84, 13, 199);

  outline: 1px solid rgb(41, 2, 100);
}

.isFood {
  display: inline-block;

  width: 20px;
  height: 20px;

  padding: 4px;

  border-radius: 50%;
  background: rgba(6, 231, 137, 0.507);
  border: 1px solid rgb(25, 161, 104);
}

.isSnake {
  display: flex;

  width: 20px;
  height: 20px;

  padding: 4px;

  border-radius: 50%;

  background: rgba(177, 6, 134, 0.548);
  border: 1px solid rgba(177, 6, 134);
}

.isSnakeHead {
  display: inline-block;

  width: 20px;
  height: 20px;

  padding: 6px;

  border-radius: 50%;

  background: rgba(206, 160, 8, 0.507);
  border: 1px solid rgb(6, 231, 137);
}
.aroundHead {
  display: inline-block;

  width: 20px;
  height: 20px;

  padding: 6px;

  border-radius: 50%;

  background: rgba(51, 8, 119, 0.192);
  border: 1px solid rgba(50, 8, 119);
}
