.TitleBar {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  max-width: 600px;
  margin: auto;

  color: floralwhite;
}
.TitleBar .title {
  display: flex;
  padding: 7px 14px;

  background: rgb(61, 24, 121);

  /* border-bottom: 2px solid rgb(41, 15, 82); */
  border-top: 2px solid rgb(41, 15, 82);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
